.container {
	box-sizing: border-box;
	background-color: gainsboro;
	margin-top: 35px;
	margin-left: 200px;
	margin-right: 200px;
	padding: 30px;
	border-radius: 30px;
}
.container__head {
	margin-bottom: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 32px;
}
.container__item {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	background-color: rgb(29, 28, 28);
	border-radius: 30px;
	padding-left: 100px;
	padding: 30px;
	margin-bottom: 20px;
}
.container__img {
	width: 297px;
	height: 320px;
	border-radius: 30px;
}
.container__title {
	display: flex;
	align-items: center;
	padding-left: 30px;
	width: 1100px;
	height: 60px;
	color: white;
}
.container__buttons {
	display: flex;
	align-items: center;
	width: 30px;
	height: 30px;
}
.container__buttondel {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.container__btnImg {
	width: 30px;
	height: 30px;
}
